# Entornos virtuales
venv/
env/
ENV/
.env/

# Archivos compilados de Python
**/__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de editores (VS Code / PyCharm)
.vscode/
.idea/

# Variables de entorno (API keys)
.env

# Archivos de datos o logs
*.log
reporte_postulacion.md

.agent/
.agent/*
db_cv_expert/
.pytest_cache/